<!doctype html>
<html>
<head>
<title>{{ title }}</title>
<style>
* { margin: 0; padding: 0; box-sizing: border-box; }
#canvas {
float:left;
}
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
header {
height:20px;
background:rgba(8, 8, 69, 0.38);
width:100%;
text-shadow:1px 8px 0 rgba(NaN,NaN,NaN,1);
font-weight:normal;
color:#061BD6;
font-size:15px;
text-align:center;
font-family:arial black, 
sans-serif;
}
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
</style>
</head>
<body style="background:green">
<header id='header'>1234</header>
<div id="Player1" style="height: 250px; width: 30px; float: left; background: rgb(255, 0, 0);
margin-left: 50px;"></div>
<div id="Player2" style="height: 250px; width: 30px; float: right; background: rgb(255, 0, 0);
margin-right: 50px;"></div>

<script src="js/socket.io-1.2.0.js"></script>
<script src="js/jquery-1.11.1.js"></script>
<script src="../socket.io/socket.io.js"></script>
<script>
var socket = io();
var margin = 0
var otherMargin = 0
$(function(){
$('#{{ player }}').css('margin-top',margin);
$('#{{ otherPlayer }}').css('margin-top',otherMargin);
$(document).mousemove(function(event) {
console.log(event.pageY);
$('#{{ player }}').css('margin-top',event.pageY);
socket.emit('margin{{ player }}', event.pageY);
});
});
socket.on('marginPlayer1', function(margin){
$('#Player1').css('margin-top',margin);
});
socket.on('marginPlayer2', function(otherMargin){
$('#Player2').css('margin-top',otherMargin);
});
// $('form').submit(function(){
//   socket.emit('chat message', $('#m').val());
//   $('#m').val('');
//   return false;
// });
// socket.on('chat message', function(msg){
//   $('#messages').append($('<li>').text(msg));
// });
$(document).keydown(function(e){
if(e.keyCode==38){
//up
if(margin > 0){
margin -= 10
}
} else if (e.keyCode==40) {
//down
if(margin < 400){
margin += 10
}
} else if (e.keyCode==39) {
//rigth

} else if (e.keyCode==37) {
//left

}
$('#{{ player }}').css('margin-top',margin);
socket.emit('margin{{ player }}', margin);
});
</script>
<script>
var ctx = $('#canvas')[0].getContext("2d");
//draw a circle
ctx.fillStyle = "#FFFFFF";
ctx.beginPath();
ctx.arc(25, 200, 25, 0, Math.PI*2, false); 
ctx.closePath();
ctx.fill();
</script>
</body>
</html>